* {
  margin: 0;
  padding: 0;
  transition: all ease-in-out 0.8s;
}

:root {
  --text-color: #333;
}

.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9d8fd;
  transform: translateX(37vw);
  width: 25%;
  border-radius: 9999px;
  color: var(--text-color);
  transition: all ease-in-out 0.8s;
}
@keyframes selector {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
.selector.toggle {
  animation: selector linear 0.6s;
}

.selector p:hover {
  @apply cursor-default;
}

.selector a {
  @apply py-2 px-4 rounded-full;
}

@media (max-width: 800px) {
  .selector {
    width: 50%;
    transform: translateX(23vw);
  }
}
@media (max-width: 720px) {
  .selector {
    width: 70%;
    transform: translateX(9vw);
  }
}
